body{
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 0;
    size: 100px;
}
div{
    float: left;
    text-align: center;
}
.section {background: pink;width: 300px;}
/* .box2 {background: pink;width: 300px;}
.box3 {background: skyblue;width: 300px;}
.box4 {background: rebeccapurple;width: 300px;}
 */
