body{
    height: 100%;
    width: 100%;
    text-align: center;

}

.section {
    margin: 30px 150px;
    border-radius: 25px;
    background: pink;
}

.main-item{
    background-color: bisque;
    margin: 10px 0;
    padding: 10px;
    border-radius: 100px;
    
}
