{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

</head>

<body>
    <div class="container">
        <div class="outer">
            <!--상단부-->
            <div class="top_nav">
                <!-- <p>상단 네비게이션</p> -->
                <!-- 왼쪽 -->
                <div id="box-left">
                    <a href="{% url 'main' %}">
                        <h1>ERICA 강의평가 사이트</h1>
                        <!-- <img class="img_logo" src="{% static 'image/로고2.png'%}"> -->
                    </a>
                </div>
                <!-- 중앙 -->
                <div id='box-center'>
                    <form>
                        <input class="input_button" type="image" src="{% static 'image/find.png'%}" alt="Submit">
                        <input class="input_box" type="text" placeholder="search">
                    </form>
                </div>
                <!-- 오른쪽 -->
                <div id='box-right' style="font-family:'a옛날목욕탕L'">
                    <ul>
                        {% if user.is_authenticated %}
                        <li><a href="javascript:{document.getElementById('logout').submit()}"
                                style="font-size:20px;"><img src="{%static 'image/log-out.png'%}" width="25px"
                                    height="25px">로그아웃</a></li>
                        <form id="logout" method="POST" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <input_type="hidden" />
                            <!--숨겨진 폼 작성-->
                        </form>
                        <li><a><img src="{%static 'image/profile.png'%}" width="30" height="30"></a>
                            <ul><br>
                                <li><a href="javascript:{document.getElementById('logout').submit()}"
                                        style="font-size:20px;"><img src="{%static 'image/log-out.png'%}" width="25px"
                                            height="25px">로그아웃</a></li>
                                <form id="logout" method="POST" action="{% url 'logout' %}">
                                    {% csrf_token %}
                                    <input_type="hidden" />
                                    <!--숨겨진 폼 작성-->
                                </form>
                                {% else %}
                                <li class="li"><a href="{% url 'signup' %}" style="font-family:'a옛날목욕탕L'">회원가입</a></li>
                                <li class="li"><a href="{% url 'login' %}" style="font-family:'a옛날목욕탕L'">로그인</a></li>
                                <li class="li"><a href="{% url 'mypage' %}"><img src="{%static 'image/profile.png'%}" width="30" height="30"></a></li>
                                {% endif %}
                            </ul>
                </div>
            </div>
            <div class="content">


                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>