{% extends "base_list.html" %}
{% load static %}

{% block title %}
일반화학2
{% endblock title%}

{% block css %}
<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock css %}

{% block content %}
{% if user.is_authenticated %}
<div class="section">
    <div class="top_box">
        <div class="top_box_left"><p class="page_name">일반화학2</p></div>
        <div class="top_box_right"><a href="{% url 'GC2_CREATE' %}">
            <div class="create_box">새 강의평 쓰기</div></a></div>  
    </div>
    <div class="info_box">
        <ul>
            <li class="info_li">교수명</li>
            <li class="info_li">개설학기</li>
            <li class="info_li">평균평점</li>
        </ul>
        <ul>
            <li class="info_li">민성준</li>
            <li class="info_li">2020-1 , 2019-2</li>
            <li class="info_li">{{avgGC}}</li>
        </ul>
    </div>

    <div class="big_list_box">
        {% for i in GC2 %}
        <div class="list_box">
            <div class="main-item">
                <p class="score">
                    {% if i.score == 1 %} ★☆☆☆☆
                    {% elif i.score == 2 %} ★★☆☆☆
                    {% elif i.score == 3 %} ★★★☆☆
                    {% elif i.score == 4 %} ★★★★☆
                    {% elif i.score == 5 %} ★★★★★
                    {% endif %}
                </p>
                <p class="seme">{{i.seme}} 수강자</p>

                <p class="text">{{i.text}}</p>
            </div>

            {% if i.author == user %}
            <div class="btn_box">
                <a href="{% url 'GC2_UPDATE' i.id %}"><div class="btn update">수정하기</div></a>
                <a href="{% url 'GC2_DELETE' i.id %}"><div class="btn delete">삭제하기</div></a>
            </div>
            {% endif %}

        </div>
        {% endfor %}
    </div>

    <br>
</div>


{% else %}
<h2>잘못된 접근입니다.</h2>
{% endif %}
{% endblock content %}