{% extends "base_list.html" %}
{% load static %}

{% block title %}
한양대학교 ERICA
{% endblock title%}

{% block css %}
<link rel="stylesheet" href="{% static 'css/index_pls.css' %}">
{% endblock css %}

{% block content %}

<script type="text/javascript">
    function loginWarning(){
        confirm("로그인하시면 더 자세한 강의평가를 볼 수 있어요!");    
        return false;
    }
</script>

{% if user.is_authenticated %}
{% csrf_token %}
<p class="intro">{{user.username}}님 안녕하세요!</p>

<div class="section">

    <!-- 가로 아이템들 -->
    <div class="main-item 1">
        <a class="articles" href="{% url 'GC2' %}" id = "articles">
            <p class="title">일반화학2 : {{professorNameGC}}</p>
            <p class="score">평균평점 {{avgGC}}</p>
            <p class="seme">{{latestGC.seme}} 수강자</p>
            <p class="text">"{{latestGC.text|truncatechars_html:20}}"</p>
        </a>
    </div>

    <div class="main-item 2">
        <a class="articles" href="{% url 'LE' %}"id = "articles">
            <p class="title">법과 경제학 : {{professorNameLE}}</p>
            <p class="score">평균평점 {{avgLE}}</p>
            <p class="seme">{{latestLE.seme}} 수강자</p>
            <p class="text">"{{latestLE.text|truncatechars_html:20}}"</p>
        </a>

    </div>

    <div class="main-item 3">
        <a class="articles" href="{% url 'PE' %}"id = "articles">
            <p class="title">일반물리학실험 : {{professorNamePE}}</p>
            <p class="score">평균평점 {{avgPE}}</p>
            <p class="seme">{{latestPE.seme}} 수강자</p>
            <p class="text">"{{latestPE.text|truncatechars_html:20}}"</p>
        
        </a>
    </div>
    <div class="main-item 4">
        <a class="articles" href="{% url 'WP' %}"id = "articles">
            <p class="title">웹프로그래밍 : {{professorNameWP}}</p>
            <p class="score">평균평점 {{avgWP}}</p>
            <p class="seme">{{latestWP.seme}} 수강자</p>
            <p class="text">"{{latestWP.text|truncatechars_html:20}}"</p>
        </a>
    </div>



</div>

{% else %}

<div class="section">

    <!-- 가로 아이템들 -->
    <div class="main-item 1">

        <a class="articles" onclick="loginWarning();" href="#">
            <p class="title">일반화학2 : {{professorNameGC}}</p>
            <p class="score">평균평점 {{avgGC}}</p>
            <p class="text">"{{latestGC.text|truncatechars_html:20}}"</p>
        </a>
    </div>

    <div class="main-item 2">
        <a class="articles" onclick="loginWarning();" href="#">
            <h3>법과경제학 : {{professorNameGC}}</h3>
            <p class="score">평균평점 {{avgLE}}</p>
            <p>"{{latestLE.text|truncatechars_html:20}}"</p>
        </a>

    </div>

    <div class="main-item 3">
        <a class="articles" onclick="loginWarning();" href="#">
            <h3>물리학실험 : {{professorNameGC}}</h3>
            <p class="score">평균평점 {{avgPE}}</p>
            <p>"{{latestPE.text|truncatechars_html:20}}"</p>
        </a>
    </div>
    <div class="main-item 4">
        <a class="articles" onclick="loginWarning();" href="#">
            <h3>웹프로그래밍 : {{professorNameGC}}</h3>
            <p class="score">평균평점 {{avgWP}}</p>
            <p>"{{latestWP.text|truncatechars_html:20}}"</p>
        </a>
    </div>

</div>

<p class="intro">로그인을 하시면 더 자세한 강의평가를 볼 수 있어요!</p>

{% endif %}


<!-- </div> -->

{% endblock %}