{% extends "base_list.html" %}
{% load static %}
{% block title %}
    법과경제학
{% endblock title%}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock css %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="section">
            <div class="main-item">
                <h1> 일반화학2 강의평가 페이지입니다. </h1>
                <div class="create_Box"><a href="{% url 'LE_CREATE' %}"><div class="div_Create">새 강의평 쓰기</div></a>
                                        <a href="{% url 'main' %}"><div class="div_Create goToMain">메인 가기</div></a></div>
                    {% for i in LE %}
                        <div class="listView_Box">  
                            <div class="listView">
                                <div class="listView_Top">
                                    <h3><u>{{i.professorName}}</u> 교수님  //  <u>{{i.seme}}</u> 수강자 입니다.  
                                    </h3>
                                </div>
                                <div class="listView_Middle">
                                    <h3>추천 별점  :
                                        {% if i.score == 1 %} ★☆☆☆☆
                                        {% elif i.score == 2 %} ★★☆☆☆
                                        {% elif i.score == 3 %} ★★★☆☆
                                        {% elif i.score == 4 %} ★★★★☆
                                        {% elif i.score == 5 %} ★★★★★
                                        {% endif %}</h3>
                                </div>
                                <div class="listView_Bottom">
                                    <h3>강의 후기 : {{i.text}} </h3>
                                </div>
                            </div><Br><Br>
                            {% if i.author == user %}
                            <div class="listView_UD_Box">
                                <a class="btn update" href = "{% url 'LE_UPDATE' i.id %}">수정하기</a>
                                <a class="btn delete" href = "{% url 'LE_DELETE' i.id %}">삭제하기</a>
                            </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <br>
            </div>
        </div>
    {% else %}
        <h2>잘못된 접근입니다.</h2>
    {% endif %}
{% endblock content %}
