{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal</title>
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
</head>
<body>
    <button id="open">새 강의평 쓰기</button>
    <div class="modal hidden">
        <div class="modal_overlay">
            <div class="modal_contents">
                <h1> 모달 </h1>
                <button class="submit"> 등록하기 </button>
                <button class="closeBtn"> 닫기 </button>
            </div>
        </div>
    </div>

    <script src="/static/js/modal.js" type = "text/javascript"></script>
</body>
</html>