{% extends "base_list.html" %}
{% load static %}

{% block title %}
    내가 쓴 강의평
{% endblock title%}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock css %}

{% block content %}


<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내가 쓴 강의평가</title>
</head>
<body>
    <div class="section">
        <div class="main-item">
            {% if countall == 0 %}
                    <h2>아직 작성하신 강의평가가 없어요!</h2>
                
        </div>
            {% else %}
                {% if countGC != 0 %}
                    <div class="main-item">
                        <div class="Mypage_Top">
                            <h1>내가 작성한 일반화학2 강의평가</h1>
                        </div>

                        
                        {% for comment in GC2 %}
                        <div class="Mypage_Contents">
                            <div class="listView_Top">
                                <p class="title">{{comment.seme}}</p>

                            </div>
                            <div class="listView_Middle">
                                <h3>추천 별점  :
                                    {% if comment.score == 1 %} ★☆☆☆☆
                                    {% elif comment.score == 2 %} ★★☆☆☆
                                    {% elif comment.score == 3 %} ★★★☆☆
                                    {% elif comment.score == 4 %} ★★★★☆
                                    {% elif comment.score == 5 %} ★★★★★
                                    {% endif %}</h3>
                            </div>
                            <div class="listView_Bottom">   
                                    <p class="title">강의 후기 : {{comment.text}}</p>
                            </div>
                            <div class="listView_UD_Box">
                                <div class="listView_UD_Contents">
                                    <a class="btn update mypageBtn" href = "{% url 'GC2_UPDATE' comment.id %}"><div class="btn update">수정하기</div></a>
                                    <a class="btn delete mypageBtn" href = "{% url 'GC2_DELETE' comment.id %}"><div class="btn delete">삭제하기</div></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
                    {% if countLE != 0 %}
                        <div class="main-item">
                            <div class="Mypage_Top">
                                <h1>내가 작성한 법과경제학 강의평가</h1>
                            </div>

                            {% for comment in LE %}
                            <div class="Mypage_Contents">
                                <div class="listView_Top">
                                    <p class="title">{{comment.seme}}</p>

                                </div>
                                <div class="listView_Middle">
                                    <h3>추천 별점  :
                                        {% if comment.score == 1 %} ★☆☆☆☆
                                        {% elif comment.score == 2 %} ★★☆☆☆
                                        {% elif comment.score == 3 %} ★★★☆☆
                                        {% elif comment.score == 4 %} ★★★★☆
                                        {% elif comment.score == 5 %} ★★★★★
                                        {% endif %}</h3>
                                </div>
                                <div class="listView_Bottom">   
                                        <p class="title">강의 후기 : {{comment.text}}</p>
                                </div>
                                <div class="listView_UD_Box">
                                    <div class="listView_UD_Contents">
                                        <a class="btn update mypageBtn" href = "{% url 'LE_UPDATE' comment.id %}"><div class="btn update">수정하기</div></a>
                                        <a class="btn delete mypageBtn" href = "{% url 'LE_DELETE' comment.id %}"><div class="btn delete">삭제하기</div></a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if countPE != 0 %}
                        <div class="main-item">
                            <div class="Mypage_Top">
                                <h1>내가 작성한 일반물리학실험 강의평가</h1>
                            </div>
                            {% for comment in PE %}
                                <div class="Mypage_Contents">
                                    <div class="listView_Top">
                                        <p class="title">{{comment.seme}}</p>

                                    </div>
                                    <div class="listView_Middle">
                                        <h3>추천 별점  :
                                            {% if comment.score == 1 %} ★☆☆☆☆
                                            {% elif comment.score == 2 %} ★★☆☆☆
                                            {% elif comment.score == 3 %} ★★★☆☆
                                            {% elif comment.score == 4 %} ★★★★☆
                                            {% elif comment.score == 5 %} ★★★★★
                                            {% endif %}</h3>
                                    </div>
                                    <div class="listView_Bottom">   
                                            <p class="title">강의 후기 : {{comment.text}}</p>
                                    </div>
                                    <div class="listView_UD_Box">
                                        <div class="listView_UD_Contents">
                                            <a class="btn update mypageBtn" href = "{% url 'PE_UPDATE' comment.id %}"><div class="btn update">수정하기</div></a>
                                            <a class="btn delete mypageBtn" href = "{% url 'PE_DELETE' comment.id %}"><div class="btn delete">삭제하기</div></a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if countWP != 0 %}
                        <div class="main-item">
                            <div class="Mypage_Top">
                                <h1>내가 작성한 웹프로그래밍 강의평가</h1>
                            </div>

                            
                            {% for comment in WP %}
                            <div class="Mypage_Contents">
                                <div class="listView_Top">
                                    <p class="title">{{comment.seme}}</p>

                                </div>
                                <div class="listView_Middle">
                                    <h3>추천 별점  :
                                        {% if comment.score == 1 %} ★☆☆☆☆
                                        {% elif comment.score == 2 %} ★★☆☆☆
                                        {% elif comment.score == 3 %} ★★★☆☆
                                        {% elif comment.score == 4 %} ★★★★☆
                                        {% elif comment.score == 5 %} ★★★★★
                                        {% endif %}</h3>
                                </div>
                                <div class="listView_Bottom">   
                                        <p class="title">강의 후기 : {{comment.text}}</p>
                                </div>
                                <div class="listView_UD_Box">
                                    <div class="listView_UD_Contents">
                                        <a class="btn update mypageBtn" href = "{% url 'WP_UPDATE' comment.id %}"><div class="btn update">수정하기</div></a>
                                        <a class="btn delete mypageBtn" href = "{% url 'WP_DELETE' comment.id %}"><div class="btn delete">삭제하기</div></a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
</body>
</html>
{% endif %}
{% endblock %}