{% extends "base_list.html" %}
{% load static %}

{% block title %}
    내가 쓴 강의평
{% endblock title%}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock css %}

{% block content %}


<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% if user.is_authenticated %}
    <h1>내가 쓴 강의평</h1>
    <div class = "list" >
    
    {% for comment in GC2 %}
    {% if comment.author == user %}
        {{comment.seme}}
        {{comment.professorName}}
        {{comment.score}}
        {{comment.text}}
        <br>
        <a class="btn blue" href = "{% url 'GC2_UPDATE' comment.id %}">수정하기</a>
        <a class="btn red" href = "{% url 'GC2_DELETE' comment.id %}">삭제하기</a>
    {% endif %}
    <br>
    {% endfor %}

    {% for comment in PE %}
    {% if comment.author == user %}
        {{comment.seme}}
        {{comment.professorName}}
        {{comment.score}}
        {{comment.text}}
        <br>
        <a class="btn blue" href = "{% url 'PE_UPDATE' comment.id %}">수정하기</a>
        <a class="btn red" href = "{% url 'PE_DELETE' comment.id %}">삭제하기</a>
    {% endif %}
    <br>
    {% endfor %}

    {% for comment in WP %}
    {% if comment.author == user %}
        {{comment.seme}}
        {{comment.professorName}}
        {{comment.score}}
        {{comment.text}}
        <br>
        <a class="btn blue" href = "{% url 'WP_UPDATE' comment.id %}">수정하기</a>
        <a class="btn red" href = "{% url 'WP_DELETE' comment.id %}">삭제하기</a>
    {% endif %}
    <br>
    {% endfor %}

    {% for comment in LE %}
    {% if comment.author == user %}
        {{comment.seme}}
        {{comment.professorName}}
        {{comment.score}}
        {{comment.text}}
        <br>
        <a class="btn blue" href = "{% url 'LE_UPDATE' comment.id %}">수정하기</a>
        <a class="btn red" href = "{% url 'LE_DELETE' comment.id %}">삭제하기</a>
    {% endif %}
    <br>
    {% endfor %}
    </div>
{% endif %}

</body>
</html>
{% endblock %}